<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Nopia</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script>
        function join() {
            window.location.href = "/waiting";
            sessionStorage.setItem("age", document.getElementsByName("age")[0].value);
        }
    </script>
</head>
<body>
    <div class="container">
        <h2 class="title" style="margin-top: 10px">정보 입력</h2>
        <p class="sub-title">게임 플레이를 위한 정보를 입력해 주세요.</p>
        <select name="age" class="select-age">
            <option value="">나이대를 선택해 주세요.</option>
            <option value="10">10대</option>
            <option value="20">20대</option>
            <option value="30">30대</option>
            <option value="40">40대</option>
            <option value="50">50대</option>
            <option value="60">60대</option>
        </select>
        <button class="start" onclick="join()">게임 시작</button>
    </div>
</body>
</html>